{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container text-center">
    <h2 class="mb-4">Please Log in</h2>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>
        <button type="submit" class="btn btn-success w-100">Sign in</button>
    </form>
    <p class="mt-4">By <a href="#">AliMonlo</a></p>
</div>
{% endblock %}
